[submodule "third_party/stenglib"]
	path = third_party/stenglib
	url = git@github.com:stefanengblom/stenglib.git
[submodule "third_party/urdme"]
	path = third_party/urdme
	url = git@github.com:URDME/urdme.git
